* {
    /* border: 1px solid black;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    word-break: break-all;
    
}

body {
    font-size: 13px;
    font-weight: 400;
    height: 100%;
    line-height: 1.2;
    
}


#cgvwrap {
    position: relative;
    width: 100%;
    min-width: 1040px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

img {
    vertical-align: middle;
}

strong {
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

ol, ul {
    list-style: none;
}

.header {
    position: relative;
    vertical-align: baseline;
    z-index: 101;
    word-break: break-all;
}

.header_content {
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header_content .contents {
    display: flex;
    justify-content: space-between;
    padding: 30px 5px 25px 5px;
    background-color: #fff;
}

.header .contents {
    width: 980px;
    margin: 0 auto;
}


.header_content .contents h1 {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}

.header_content .contents h1 a {
    display: block;
    float: left;
    height: 100%;
}

.header_content .contents h1 a img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.header_content .contents h1 span {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;

}


.header_content .contents .memberInfo_wrap {
    display: flex;
    align-items: center;
}

.header_content .contents .memberInfo_wrap li{
    margin-left: 44px;
    margin-top: 2px;
}

.header_content .contents .memberInfo_wrap li a {
    display: block;
    position: relative;
    padding-bottom: 19px;
} 

.header_content .contents .memberInfo_wrap li a img {
    width: 36px;
    height: 36px;
}

.header_content .contents .memberInfo_wrap li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
} 


.nav {
    position: absolute;
    top: 138px;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.nav:before {
    content: '';
    display: block;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #a58e8e;
}

.nav:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fb4357;
}

.nav .contents {
    position: relative;
}

.nav_menu {
    display: inline-flex;
    padding: 0;
    margin-left: 5px;
}

.nav_menu li {
    width: 100px;
    padding: 10px 0;
}

.nav_menu > li > h2 {
    position: absolute;
    top: 10px;
}

.nav_menu > li > h2 > a {
    font-weight: 500;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

#container {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 7;
    height: 100%;
}

#container .contents {
    width: 980px;
    margin: 0 auto;
}

/* 무비차트 */
.movieChartBeScreen_wrap  {
    position: relative;
}

.movieChartBeScreen_wrap .contents {
    /* overflow: hidden; */
    padding: 50px 0;
}

.movieChartBeScreen_btn_wrap {
    display: flex;
    /* margin: 0 auto; */
    margin-bottom: 20px;
}

.movieChartBeScreen_btn_wrap h3 {
    display: inline-flex;
    font-size: 25px;
    font-weight: 700;
}

.movieChart_list {
    /* overflow: visible; */
    position: relative;
    margin: auto;

}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.swiper-slide {
    width: 170px;
    flex-basis: 170px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
}

.img_wrap {
    position: relative;
    overflow: hidden;
}

.movieChart_list .swiper-slide .img_wrap {
    overflow: hidden;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}

.movieChart_list .swiper-slide .movie_info_wrap {
    display: flex;
    flex-wrap: wrap;
}

.img_wrap > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(0, -50%);
}

.movieChart_list .swiper-slide .movie_info_wrap .movieName {
    display: inline-block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 18px;
    color: #222;
    line-height: 1.167em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movieChart_list .swiper-slide .movie_info_wrap > span{
    display: block;
    float: left;
    margin-top: 9px;
    font-size: 14px;
    color: #444;
    line-height: 1.214em;
    margin-left: 5px;
}

.movieChart_list .swiper-slide .movie_info_wrap > span img {
    width: 16px;
    height: 16px;
    vertical-align: top;
}

.movieChart_list .swiper-slide .movie_info_wrap > span ~ span {
    position: relative;
    padding-left: 16px;
}


.movieChart_list .swiper-slide .movie_info_wrap > span ~ span:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 6px;
    top: 50%;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background-color: #ededed;
}

.swiper-button-next {
    overflow:hidden;
    right: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0 0 0 / 20%);
    left: auto;    
}

.swiper-button-prev {
    overflow:hidden;
    left: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0 0 0 / 20%);
    right: auto;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.9) url("../public/img/next_button.png")
                center/13px 13px scroll no-repeat;
}

.swiper-button-prev:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.9) url("../public/img/next_button.png")
                center/13px 13px scroll no-repeat;
    transform: rotate(-180deg);

}





/* ---------------------이벤트 -------------------------*/

.event_wrap {
    padding: 60px 0 6px;
    position: relative;
}

.event_title_wrap {
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.event_title_wrap h3{
    display: inline-flex;
    font-size: 25px;
    font-weight: 700;
}

.event_list {
    position: relative;
    margin: auto;
}

.event_list .swiper-slide {
    width: auto;
    /* flex-basis: 170px; */
    /* flex-shrink: 0; */
    height: 100%;
    position: relative;
}

.event_list .swiper-wrapper .swiper-slide .img_wrap {
    overflow: hidden;
    width: 310px;
    height: 207px;
    border-radius: 10px;
}

.event_list .swiper-slide .event_info_wrap {
    display: flex;
    flex-wrap: wrap;
}

.event_list .swiper-slide .event_info_wrap strong {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
    color: #222;
    line-height: 1.444em;
    text-overflow: ellipsis;
    white-space: nowrap;
} 


.event_list .swiper-slide .event_info_wrap span {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #666;
    line-height: 1.429em;
}