* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.slide {
    display: none;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.img {
    vertical-align: middle;
    width: 100%;
}

.numbertext {
    color: red;
    font-size: 18px;
    position: absolute;
    top: 0;
}

.prev, .next {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: mediumspringgreen;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    transition: 0.6s;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next:hover, .prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}